$margin-small: 4px
$margin-medium: 8px
$margin-large: 16px

.weather-widget
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: 300
    .header
        height: 50px
        span
            font-size: 17px
            text-align: center
            width: 33%
            display: block
            float: left
            margin-top: 15px
            &:last-child
                margin: 0
                background-size: auto 100%
                background-repeat: no-repeat
                background-position: center
    .hourly
        div
            width: 20%
            float: left
            text-align: center
        span
            display: block
            &:first-child
                font-size: 14px
                color: darkgrey
    .daily
        &.active
            div
                display: block
            .less
                display: block
                color: darkgrey
                text-decoration: underline
                width: 100%
            .daily-title
                span
                    display: inline-block
                    &:first-child
                        text-decoration: none
        .less
            display: none
        div
            width: 100%
            clear: left
            height: 32px
            float: left
            display: none
            &.daily-title
                font-size: 16px
                margin-top: 16px
                display: block
                span
                    width: 15%
                    display: none
                    &:first-child
                        width: 70%
                        display: inline-block
                        text-decoration: underline
        span
            display: inline-block
            float: left
            margin-bottom: 8px
            line-height: 2.5
            &.day
                width: 30%
                font-weight: 400
                font-size: 16px
            &.icon
                width: 40%
                height: 32px
                background-size: auto 100%
                background-repeat: no-repeat
                background-position: center
            &.max, &.min
                width: 15%
    .icon
        width: 48px
        height: 48px
        background-size: 100%
        margin: $margin-small auto
        &.partly-cloudy-night
            background-image: url('img/partly-cloudy-night.png')
        &.partly-cloudy-day
            background-image: url('img/partly-cloudy-day.png')
        &.clear-night
            background-image: url('img/clear-night.png')
        &.clear-day
            background-image: url('img/clear-day.png')
        &.cloudy
            background-image: url('img/cloudy.png')
        &.sleet
            background-image: url('img/sleet.png')
        &.rain
            background-image: url('img/rain.png')
        &.snow
            background-image: url('img/snow.png')
        &.wind
            background-image: url('img/wind.png')
        &.fog
            background-image: url('img/fog.png')